@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display-swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', san-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: rgb(71, 94, 245);
  overflow: hidden;
}

button {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 150px;
  height: 50px;
  background: white;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 20px;
  color: rgb(71, 94, 245);
  font-weight: 500;
  z-index: 1;
  transform-origin: bottom right;
  transition: 1.5s ease-in-out;
}

.button.active {
  transform: scale(0);
}
.close {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
  background: rgb(71, 94, 245);
  border-radius: 50%;
  text-decoration: none;
  box-shadow: 0 5px 10px rgb(71, 94, 245);
  display: flex;
  justify-content: center;
  align-items: center;
}

.close i {
  font-size: 20px;
  color: white;
}

.wrapper {
  position: relative;
  width: 400px;
  height: 500px;
}

.form-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 2;
  transition: transform .5s ease-in-out, left .5s ease-in-out;
}

.wrapper.show-sign .form-wrapper.sign-in {
  left: -1250px;
  transition-delay: 0s;
}

.wrapper.show-sign .form-wrapper.password-recover {
  right: -1250px;
  transition-delay: 0s;
}

.wrapper.show-sign .form-wrapper.sign-up {
  transform: translateX(0);
}

.wrapper .form-wrapper.sign-up {
  transform: translateX(1250px);
}

.wrapper .form-wrapper.password-recover {
  transform: translateX(1250px);
}

h2 {
  font-size: 30px;
  color: rgb(71, 94, 245);
  text-align: center;
}

.input-group {
  position: relative;
  margin: 30px 0;
}

.input-group label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 16px;
  color: #333;
  padding: 0 5px;
  pointer-events: none;
  transition: .5s;
}

.input-group input{
  width: 320px;
  height: 40px;
  font-size: 16px;
  color: #333;
  padding: 0 10px;
  background: transparent;
  border: 1px solid #333;
  outline: none;
  border-radius: 5px;
  transition: .5s;
}

.input-group input:focus~label,
.input-group input:valid~label {
  top: 0;
  font-size: 12px;
  background: white;
  color: rgb(71, 94, 245);
}

.input-group input:focus,
.input-group input:valid {
  border: 1px solid rgb(71, 94, 245);
}

.remember {
  margin: -15px 0 15px;
}

.remember label {
  color:#333;
  font-size: 14px;
}

.remember label input {
  accent-color: rgb(71, 94, 245);
}

.btn {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background: rgb(71, 94, 245);
  box-shadow: 0 5px 10x rgb(71, 94, 245);
  font-size: 16px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  outline: none;
}
.sign-link {
  font-size: 14px;
  text-align: center;
  margin: 25px 0;
}

.sign-link p {
  color: #333;
}

.sign-link p a {
  color: rgb(71, 94, 245);
  text-decoration: none;
  font-weight: 600;
}

.sign-link p a:hover {
  text-decoration: underline;
}

